<aside class="logo">

  {% if page.url == '/index.html' or page.url == '/' %}
    {% assign link = '/about' %}
    {% assign prompt = 'About the Author' %}
  {% else %}
    {% assign link = '/' %}
    {% assign prompt = 'Back to Home' %}
  {% endif %}

  <a href="{{ link | prepend: site.baseurl }}">
    <img src="//www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
  </a>
  <span class="logo-prompt">{{ prompt }}</span>

  <div class="box-searchbar">
    <form id="text_search_form" action="https://www.google.co.kr/search" onsubmit="javascript:if (!$('#search_keyword').val()) {alert('검색어를 넣어 주세요 :D'); return false;} $('#search_query').val('site:{{ site.domain }} ' + $('#search_keyword').val());" target="_blank">
      <input type="hidden" name="q" id="search_query">
  		<input placeholder="검색" form="text_search_form" type="text" maxlength="200" size="30" id="search_keyword">
      <i class="em em-mag" onclick="$('#text_search_form').submit()"></i>
    </form>
	</div>

</aside>
