---
layout: default
---
<div id="navbar" class="container">
    <a href="{{site.baseurl}}/">Home</a>
    <a href="{{site.baseurl}}/tags/">All tags</a>
</div>

<div class="container tag-cover"
     {% if page.image %}style="background-image: url({{ page.image }});"{% endif %}>
    <div class="tag-logo">
      <div>
        <span class="tag-title">{{ page.title | default: page.name }}</span>
        <span>{% if page.site %}(<a href="{{ page.site }}" target="_blank">{{ page.site }}</a>){% endif %}</span>
        <p>All Posts in <strong>{{ page.name }}</strong></p>
      </div>
    </div>
</div>

<div id="content" class="container">
    <div id="tag-content" role="main">
        <ul id="post-list">
            {% for post in site.posts %}
                {% if post.tags contains page.name %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
